html{
    animation: myBackground;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   }
@keyframes myBackground{
   0%{background-color: rgb(218, 214, 214);}
   50%{background-color:white}
   100%{background-color:rgb(240, 232, 232);}
}
.head{
   position: relative;
   margin:0px 50px 0px 50px;
   border: 1px solid white;
   background-color: darkgrey;
   color: white; 
   height:40px;
   display: flex;
   flex-direction: row;
   justify-content: center;
    }
   .search{
      height: 20px;
      width:100px;
   }
.nav{
   margin:0px 50px 0px 50px;
   display: flex;
   border: 1px solid white;
   background-color: black;
   color: white;  
}
.navitems{
   display: flex;
   list-style: none;
}
li{
   padding: 5px;
   font-size: larger;
}
.content{
   height:350px;
   margin:0px 50px 0px 50px;
   display: flex;
   border: 1px solid white;
   color: white; 
   background-color: darkgrey;
   justify-content: center;
   }
.footer{
   margin:0px 50px 0px 50px;
   display: flex;
   border: 1px solid white;
   color: white; 
   background-color: black;
   justify-content: center;
}